@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/* Ajuste para el NavBar fijo */
body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  /* Ajusta este valor según la altura de tu NavBar */
  font-family: var(--font-display);
  background-color: #F8F9FA;

  --sb-track-color: #232E33;
  --sb-thumb-color: #696b6b;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 16px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 16px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@theme {
  --font-display: "Montserrat", "sans-serif";
  --font-display2: "Great Vibes", serif;

  --breakpoint-3xl: 1920px;

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --animate-fade-in: fade-in 0.3s ease-out;
  --animate-slide-in: slide-in 0.3s ease-out;
  --animate-slide-in-left: slide-in-left 0.3s ease-out;
  --animate-spin: spin 3s linear infinite;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

:root {
  --font-display: "Montserrat", sans-serif;
  --font-display2: "Great Vibes", serif;

  --breakpoint-3xl: 1920px;

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --entry-animation: -20px;
  --cover-animation: 20px;
}

@media (min-width: 1400px) {
  :root {
    --entry-animation: -100px;
    --cover-animation: 100px;
  }
}

.number {
  text-shadow: 0 0 15px rgba(197, 225, 255, 0.9);
}

#theater,
#trophies-text h1,
#trophies-text p {
  animation: cover-animation linear both;
  animation-timeline: view();
}

#theater-text h1,
#theater-text p,
#trophies {
  animation: entry-animation linear both;
  animation-timeline: view();
}

#theater {
  animation-range: entry 10% cover 40%;
}

#theater-text h1 {
  animation-range: entry 10% cover 30%;
}

#theater-text p {
  animation-range: entry 10% cover 20%;
}

#trophies {
  animation-range: entry 30% cover 50%;
}

#trophies-text h1 {
  animation-range: entry 30% cover 40%;
}

#trophies-text p {
  animation-range: entry 20% cover 30%;
}

@keyframes entry-animation {
  0% {
    opacity: 0;
    translate: var(--entry-animation) 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes cover-animation {
  0% {
    opacity: 0;
    translate: var(--cover-animation) 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

/* CLASES PERSONALIZADAS */
.btn-paginacion {
  @apply inline-flex items-center justify-center gap-2 px-4 py-2 rounded-lg text-sm font-medium w-[140px] bg-cyan-600 text-white hover:bg-cyan-700 transition-all duration-200 shadow-sm hover:shadow-md focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:ring-offset-1 active:scale-[0.98];
}

.btn-primary {
  @apply inline-flex items-center justify-center gap-2 px-4 py-2 text-sm font-medium rounded-lg text-white bg-cyan-600 shadow-sm hover:bg-cyan-700 hover:shadow-md focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:ring-offset-1 transition-all duration-200 active:scale-[0.98];
}

/* Para Chrome, Safari, Edge y Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.icon:hover {
  background: radial-gradient(circle at 33% 100%,
      #fed373 4%,
      #f15245 30%,
      #d92e7f 62%,
      #9b36b7 85%,
      #515ecf);
  transition: 1s ease-in-out;
}